<%
for(var i = 0; i < data.length; i++){
	var goods = data[i];
%>
<div data-no="<%=goods.no%>" class="goodsitem col-md-3" onclick="location.href='${pageContext.servletContext.contextPath}/goods/view/<%=goods.no%>'">
								
								<c:if test="${goods.thumbnail ne null}">
									<img class="card-img-top img-fluid"
										src="${pageContext.servletContext.contextPath}/images/<%=goods.thumbnail%>"
										alt="Card image cap">
								</c:if>

								<c:if test="${goods.thumbnail eq null }">
									<img class="card-img-top img-fluid"
										src="${pageContext.servletContext.contextPath}/assets/images/noimage.jpg"
										alt="Card image cap">
								</c:if>

								<div style="clear: both;"></div>
								<span class="goodsname"><%=goods.name%></span>
								<div style="clear: both; margin: 5px 0px;"></div>
								<span class="price"><fmt:formatNumber
										value="<%=goods.seillingPrice%>" type="currency"></fmt:formatNumber></span>
								<div class="goodsdetail-box" style="border: 0px solid red">
									<%=goods.detail%></div>
								<div class="category-box">

									<span><%=goods.bigcategoryName%> >
										<%=goods.smallcategoryName%></span>

								</div>

							</div>
<%
}
%>